extends baseEmail

block content
  p Hi #{firstName},
  p You recently requested to reset your password. Use the OTP (One-Time Password) below to complete the process.
  h2(style="color: #4CAF50; font-size: 24px;") #{otp}
  p This OTP is valid for the next 5 minutes.
  p If you didn't request a password reset, please ignore this email.
